DISCORD_TOKEN=
GUILD_ID=
VOICE_CHANNEL_ID=
ASTERISK_AMI_HOST=127.0.0.1
ASTERISK_AMI_PORT=5038
ASTERISK_AMI_USER=discord
ASTERISK_AMI_SECRET=
ASTERISK_CONTEXT=default
ASTERISK_AUDIOSOCKET_EXTENSION=discord
ASTERISK_CONFERENCE_EXTENSION=160
AUDIOSOCKET_LISTEN_HOST=0.0.0.0
AUDIOSOCKET_LISTEN_PORT=5000
